{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="card shadow p-4">
        <h4 class="mb-3">Edit Profile</h4>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="text-center">
                <img src="https://via.placeholder.com/100" class="rounded-circle" alt="Profile Picture">
                <h5 class="mt-2">{{ user.first_name }} {{ user.last_name }}</h5>
                <button class="btn btn-dark mt-2">Upload New Photo</button>
            </div>

            <div class="row mt-4 mb-3">
                <div class="col">
                    <label class="form-label">First Name</label>
                    <input type="text" name="first_name" class="form-control" value="{{ user.first_name }}">
                </div>
                <div class="col">
                    <label class="form-label">Last Name</label>
                    <input type="text" name="last_name" class="form-control" value="{{ user.last_name }}">
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" name="username" class="form-control" value="{{ user.username }}">
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label class="form-label">Email Address</label>
                    <input type="email" name="email" class="form-control" value="{{ user.email }}">
                </div>
                <div class="col">
                    <label class="form-label">Phone Number</label>
                    <input type="text" name="phone_number" class="form-control" value="{{ user.phone_number }}">
                </div>
            </div>

            <hr>

            <h5>Change Password</h5>
            <div class="row mb-3">
                <div class="col">
                    <label class="form-label">New Password</label>
                    <input type="password" name="password" class="form-control">
                </div>
                <div class="col">
                    <label class="form-label">Confirm Password</label>
                    <input type="password" name="confirm_password" class="form-control">
                </div>
            </div>

            <button type="submit" class="btn btn-dark w-100 mb-3">Save Changes</button>
            <a href="{% url 'profile' %}" class="btn btn-light w-100 border">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
