{% load socialaccount %}

{% block content %}
<div class="container">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <button onclick="document.location='{% provider_login_url 'google' process='login' auth_params='prompt:select_account' %}'">
            Login with Google
    </button>
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a>.</p>
</div>
{% endblock %}
